<!-- File for main gallery page with seede examples from db -->
<section class="card">
  <a href="/gallery/{{id}}">
    <header>{{name}}</header>
     <!-- next line will need to be adjusted when image source identified -->
    <img src="/db{{image.[0].filename}}" alt="{{image.[0].description}}">
  </a>
</section>