<div class="col-lg-4 col-md-6 col-sm-12">
	<img
		id="galleryImg"
		src="/db{{image.0.filename}}"
		alt="{{image.0.description}}"
		class="card-img-top mt-3"
	/>
	<div class="card-body">{{user}}</div>
	<div class="card-footer">{{timestamp}}</div>
</div>
{{!-- TODO: update the above handlebars to pull the appropriate images from the DB --}}