{{!-- <div class="col-lg-4 col-md-6 col-sm-12">
	<img
		id="galleryImg"
		src="/db{{image.imgURL}}"
		alt="{{image.0.prompt}}"
		class="card-img-top mt-3"
	/>
	<div class="card-body">{{user_name}}</div>
	<div class="card-footer">{{date_created}}</div>
</div> --}}
{{!-- TODO: update the above handlebars to pull the appropriate images from the DB --}}