
<section id="galleryEl" class="container-fluid d-flex">
	<div class="row">
		<h1
			style="font-size: 40pt; font-weight:600; text-align: center; margin-bottom: 30px"
		>
			Feed
		</h1>
		{{#each images}}
			<div class="col-lg-4 col-md-6 col-sm-12">
				<img id="galleryImg" src="{{imageURL}}" alt="{{promptValue}}" class="card-img-top mt-3" />
				<div class="card-body" style="text-align: center;">"{{promptValue}}"</div>
			</div>
		{{/each}}
	</div>
</section>