	<div id="heroEl" class="">
			<h1 id="hero" class="text-center">
				dream up anything with <span id="heroSpan">headspace.ai</span>
			</h1>
			<div id="promptEl" class="">
				<input
					id="prompt"
					class=""
					placeholder="an acrylic painting of the lo-fi beats girl writing javascript"
				/>
				<button id="submit" class="">Dream</button>
			</div>
		</div>