{{!-- {{#if logged_in}}
	<div class="nav-item">
		<a class="nav-link" href="/" id="logout">
			<i class="bi bi-box-arrow-left">
			</i>
			Logout
		</a>
	</div>
	<script src="/js/logout.js"></script>
{{else}}
	<div class="nav-item">
		<a class="nav-link" href="/login" id="login"><i
				class="bi bi-box-arrow-right"
			></i>
			Login</a>
	</div>
{{/if}} --}}