<div id="loginCard">
	<!-- Important ID's of input fields for front end logic:
					regUser
					regEmail
					regPass
					regBtn
					logUser
					logPass
					logBtn
				-->
	<div class="card mx-3">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<button
						id="regNav"
						class="nav-link active"
						style="color: rgb(90, 90, 90)"
						aria-current="true"
					>Register</button>
				</li>
				<li class="nav-item mx-2">
					<button id="logNav" class="nav-link" style="color: rgb(90, 90, 90)">
						Login
					</button>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<div id="regEl">
				<label for="regEmail" class="form-label">Email Address</label>
				<input
					id="regEmail"
					type="email"
					class="form-control"
					placeholder="name@example.com"
				/>
				<div class="form-text">
					Already have an account?
					<button
						id="toLog"
						style="border: none; background: none; color: blue"
					>
						Sign in here.
					</button>
				</div>
				<label for="regPass" class="form-label">Password</label>
				<input
					id="regPass"
					type="password"
					class="form-control"
					aria-describedby="passwordHelpInline"
					placeholder="********"
				/>

				<span id="passwordHelpInline" class="form-text my-3">Must be 8-20 characters
					long.</span>
				<div></div>
				<button
					id="regBtn"
					type="submit"
					class="btn btn-warning"
					style="min-width: 150px"
				>
					Register
				</button>
			</div>
			<div id="logEl">
				<label for="logEmail" class="form-label">Email Address</label>
				<input class="form-control" id="logEmail" />
				<div class="form-text">
					Don't have an account yet?
					<button
						id="toReg"
						style="border: none; background: none; color: blue"
					>
						Register here.
					</button>
				</div>
				<label for="logPass" class="form-label">Password</label>
				<input type="password" class="form-control" id="logPass" />
				<button
					id="logBtn"
					type="submit"
					class="btn btn-warning mt-3"
					style="min-width: 150px"
				>
					Login
				</button>
			</div>
		</div>
	</div>
</div>
<script src="/js/login.js"></script>