<section id="galleryEl" class="">
			<div class="card bg-dark">
				<img
					id="placeholder"
					src="../public/assets/1024x1024.png"
					class="card-img-top"
				/>
				<div class="card-body">Content</div>
				<div class="card-footer">Footer</div>
			</div>
			<div class="card bg-dark">

				<img
					id="placeholder"
					src="../public/assets/1024x1024.png"
					class="card-img-top"
				<div class="card-body">Content</div>
				<div class="card-footer">Footer</div>
			</div>
		</section>