body {
	background-color: rgb(36, 14, 27);
	background-image: url(../assets/bg.png);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: 2000px;
	color: white;
}

.navbar {
	backdrop-filter: blur(15px);
	color: white;
}

.navbar-brand,
.nav-link {
	color: white;
}

#promptEl {
	display: flex;
	background-color: white;
	margin: auto;
	width: 80%;
	padding: 5px;
	border-radius: 10px;
}

#submit,
#submit:focus {
	flex-shrink: 0;
	justify-self: end;
    background-image: linear-gradient(to right bottom, rgb(248, 180, 33), rgb(255, 136, 0));
    border-style: none;
    border-radius: 8px;
    padding: 5px 15px;
    margin: -2px;
    color: white;
}


input {
	outline: none;
	border-style: none;
}

#prompt {
	flex-grow: 1;
    margin-left: 5px;
}
